html {
  --body-padding: 5%;
  --border-size: 3px;
}

body {
  background-color: rgb(153, 83, 233);
}

h1 {
  font-size: 2.5rem;
}

.page-body p {
  font-size: 1.2rem;
}

.page-body {
  padding: 0.75rem var(--body-padding) 5rem var(--body-padding);
}

.bio-paragraph {
  display: flex;
}

.page-body p img {
  padding-left: 1%;
}

#footer {
  background-color: rgb(227, 116, 231);
  border: 14px ridge rgb(35, 120, 231);
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5% 0;
}

#header {
  height: fit-content;
  background-color: rgb(140, 64, 240);
  color: black;
  border: 14px ridge rgb(209, 12, 209);
  padding: 0.75rem 0 0 var(--body-padding);
}

#nav ul {
  padding-left: 0;
}

#nav li {
  list-style: none;
}

#nav a {
  text-align: center;
  border: var(--border-size) solid;
  color: white;
  background-color: rgb(161, 54, 223);
  font-size: 1.3rem;
  text-decoration: none;
  width: 120px;
  padding: 10px 0;
}

#nav a:focus,
#nav a:hover {
  color: white;
  background-color: rgb(62, 18, 104);
}

@media (min-width: 120px) {
  #nav a {
    display: inline-block;
  }

  #nav li {
    display: inline-block;
  }
}

#socials ul {
  padding-left: 0;
}

#socials li {
  list-style: none;
  padding: 0.18% 0;
}

#socials a {
  display: flex;
  justify-content: left;
  align-items: center;
  border: var(--border-size) solid;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  text-decoration: none;
  width: 175px;
  height: 40px;
  padding: 10px 0 10px 10px;
}

#github:hover {
  background-color: rgb(83, 12, 110);
}

#youtube:hover {
  background-color: rgb(167, 1, 23);
}

#bluesky:hover {
  background-color: rgb(24, 63, 148);
}

#instagram:hover {
  background-color: rgb(224, 73, 144);
}

.link-icon {
  margin: 0 10px;
}
