html {
  --body-padding-left: 5%;
  --border-size: 3px;
}

body {
  background-color: rgb(177, 121, 241);
}

.page-body {
  padding: 0.75rem 0 5rem var(--body-padding-left);
}

#footer {
  background-color: rgb(227, 116, 231);
  border: 14px ridge rgb(35, 120, 231);
  text-align: center;
  padding: 0.5% 0;
}

#header {
  height: fit-content;
  background-color: rgb(140, 64, 240);
  color: black;
  border: 14px ridge rgb(209, 12, 209);
  padding: 0.75rem 0 0 var(--body-padding-left);
}

#nav ul {
  padding-left: 0;
}

#nav li {
  background-color: rgb(161, 54, 223);
  list-style: none;
}

#nav a {
  text-align: center;
  border: var(--border-size) solid;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  width: 120px;
  padding: 10px 0;
}

#nav a:focus,
#nav a:hover {
  color: white;
  background-color: rgb(62, 18, 104);
}

@media (min-width: 120px) {
  #nav a {
    display: inline-block;
  }

  #nav li {
    display: inline-block;
  }
}
